.red-darkest {
    color: darkred;
}

.red-darker {
    color: darkred;
}

.red-dark {
    color: darkred;
}

.red {
    color: red;
}

.red-light {
    color: indianred;
}

/*.red-lighter {*/
    /*color: ;*/
/*}*/

.red-lightest {
    color: indianred;
}